<div class="container mx-auto py-5 w-50">

  <div class="border rounded">
    <div class="justify-content-md-center">

      <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link border" [routerLink]="['/navigator']" [queryParams]="{ tab: 0 }"
          [routerLinkActive]="'active'" (click)="select('income')">income</a>
        <a class="flex-sm-fill text-sm-center nav-link border" [routerLink]="['/navigator']" [queryParams]="{ tab: 1 }"
          [routerLinkActive]="'active'" (click)="select('investment')">investment</a>
        <a class="flex-sm-fill text-sm-center nav-link border" [routerLink]="['/navigator']" [queryParams]="{ tab: 2 }"
          [routerLinkActive]="'active'" (click)="select('loan')">loan</a>
        <a class="flex-sm-fill text-sm-center nav-link border" [routerLink]="['/navigator']" [queryParams]="{ tab: 3 }"
          [routerLinkActive]="'active'" (click)="select('outcome')">outcome</a>
      </nav>

      <app-navigator [type]="types"></app-navigator>

    </div>
  </div>

</div>